/* .highlight  { background: #ffffff; } Dean commented out */
/* .highlight pre { background-color: #fff; font-size: 16px } */
.highlight .c  { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #ff6b6b; background-color: #2a1a1a } /* Error */
.highlight .k  { color: #569cd6; font-weight: bold } /* Keyword */
.highlight .o  { color: #dcdcaa; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #c586c0; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #c586c0; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #ff8080; background-color: #2a1a1a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f44747 } /* Generic.Error */
.highlight .gh { color: #c586c0 } /* Generic.Heading */
.highlight .gi { color: #b5cea8; background-color: #1e2a1e } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #808080 } /* Generic.Subheading */
.highlight .kc { color: #569cd6; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #569cd6; font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: #569cd6; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #569cd6; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #4ec9b0; font-weight: bold } /* Keyword.Type */
.highlight .m  { color: #b5cea8 } /* Literal.Number */
.highlight .s  { color: #ce9178 } /* Literal.String */
.highlight .na { color: #9cdcfe } /* Name.Attribute */
.highlight .nb { color: #dcdcaa } /* Name.Builtin */
.highlight .nc { color: #4ec9b0; font-weight: bold } /* Name.Class */
.highlight .no { color: #b5cea8 } /* Name.Constant */
.highlight .ni { color: #c586c0 } /* Name.Entity */
.highlight .ne { color: #f44747; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #dcdcaa; font-weight: bold } /* Name.Function */
.highlight .nn { color: #4ec9b0 } /* Name.Namespace */
.highlight .nt { color: #569cd6 } /* Name.Tag */
.highlight .nv { color: #9cdcfe } /* Name.Variable */
.highlight .ow { color: #dcdcaa; font-weight: bold } /* Operator.Word */
.highlight .w  { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #b5cea8 } /* Literal.Number.Float */
.highlight .mh { color: #b5cea8 } /* Literal.Number.Hex */
.highlight .mi { color: #b5cea8 } /* Literal.Number.Integer */
.highlight .mo { color: #b5cea8 } /* Literal.Number.Oct */
.highlight .sb { color: #ce9178 } /* Literal.String.Backtick */
.highlight .sc { color: #ce9178 } /* Literal.String.Char */
.highlight .sd { color: #ce9178 } /* Literal.String.Doc */
.highlight .s2 { color: #ce9178 } /* Literal.String.Double */
.highlight .se { color: #dcdcaa } /* Literal.String.Escape */
.highlight .sh { color: #ce9178 } /* Literal.String.Heredoc */
.highlight .si { color: #ce9178 } /* Literal.String.Interpol */
.highlight .sx { color: #ce9178 } /* Literal.String.Other */
.highlight .sr { color: #b5cea8 } /* Literal.String.Regex */
.highlight .s1 { color: #ce9178 } /* Literal.String.Single */
.highlight .ss { color: #b5cea8 } /* Literal.String.Symbol */
.highlight .bp { color: #dcdcaa } /* Name.Builtin.Pseudo */
.highlight .vc { color: #9cdcfe } /* Name.Variable.Class */
.highlight .vg { color: #9cdcfe } /* Name.Variable.Global */
.highlight .vi { color: #9cdcfe } /* Name.Variable.Instance */
.highlight .il { color: #b5cea8 } /* Literal.Number.Integer.Long */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
